<h1>Blog</h1>

<% @pages.each do |page| %>
	<%= page.title %>
	<%= link_to 'Show Page', page_path(page) %>
<% end %>

<!-- Non echoing tag, for logic -->
<!-- <% %> -->
<!-- Echoing tag, displays on page
 <%= %> -->